<!doctype html>
<html>

<head>
    <title>Jugar Mundos</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles.css') }}">
   </head>

<body>        
        <div  class="winner">
            {% if gif : %}
                <img id="picture" src="static/output/video.gif" alt="gif">
                <div class="buttondiv">
                <form action="/next" method="post">
                    <button type="submit" class="button" >Tomar otra foto</button>
                </form>
                </div>

            {% else %}
            <img id="video_feed" src="{{ url_for('video_feed') }}">
                <div class="buttondiv">
                    <form action="/capture" method="post">
                        <button type="submit" class="button" >Capturar Foto</button>
                    </form>
                   
                </div>
            {% endif %} 
        <div>
        
</body>    

</html>